// custom.scss
@import "bootstrap-sprockets";
@import "bootstrap";


body {
	padding-top: 60px; 
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer span {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* articles */
#articles-list td {
	vertical-align: top; 
}

#articles-list tr {
	border-bottom: 1px black solid;
}