<!-- _footer.html.erb -->

<footer class="footer">
	<hr>
  <span>
    For more work by Colin McNamara, take a look at his websites at 
    <a href="http://coolinmc6.github.io/websites/" target="_blank">GitHub</a>.
  </span>
  <nav>
    <ul>
      <li><%= link_to "LinkedIn",   'https://www.linkedin.com/in/colinpmcnamara' %></li>
      <li> <a href='mailto:colin.p.mcnamara1@gmail.com?Subject=Whats%20up' target="_top">Contact</a> </li>
    </ul>
  </nav>
</footer>